* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  background-color: #e0e5ec;
  font-size: 18px;
}

a {
  color: #333;
  text-decoration: none;
}
.wrapper {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 10px #c3c7cc, -3px -3px 15px #fff;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}
.to-do-form {
  padding-top: 10px;
}
.to-do-form input {
  padding: 15px 20px;
  border: 0;
  margin: 20px;
  width: 70%;
  border-radius: 20px;
  text-align: left;
  background-color: #e0e5ec;
  box-shadow: inset 3px 3px 8px #c1c5cb, inset -3px -3px 8px #fff;
}

.to-do-form input::placeholder {
  color: #555;
}

.to-do-form input,
button:focus {
  outline: none;
  cursor: pointer;
}

.to-do-form button,
button {
  height: 32px;
  width: 15%;
  color: #efefef;
  border: 2px;
  text-transform: uppercase;
  background-color: rgb(54, 193, 235);
  border-radius: 4px;
}
.to-do-form button,
.circle-shadow:hover {
  cursor: pointer;
}
.container {
  text-align: center;
}
#to-item {
  margin-left: 10px;
  width: 70%;
}

.delete-btn {
  height: 40px;
  width: 15px;
  margin-top: -5px;
}

.circle-shadow {
  text-align: center;
  background-color: #e0e5ec;
  box-shadow: inset 7px 7px 14px #c1c5cb, inset -7px -7px 14px #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.display-flex {
  height: 50px;
  width: 80vw;
  margin: 3vh auto;
  background-color: #333;
  border-radius: 10px;
  background-color: #e0e5ec;
  box-shadow: 4px 4px 10px #c1c5cb, -4px -4px 10px #fff;
}

li {
  list-style-type: none;
}
